table {
    width: 40%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.canvas {
    width: 150px 200px;
    padding: 50px 5px;
    text-align: center;
    border: 1px solid #333;
}